<h1>Stupid Coaching</h1>
<div class="message">
  <p><%= @message %></p>
  <p><em>- You</em></p>
</div>
<div class="message answer">
  <p><%= @coach_answer %></p>
  <p><em>- Your coach</em></p>
</div>
<%= link_to "Ask a new question", ask_path %>

